@use "sass:math";

// Подключение миксинов =================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов =================================================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов =================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию =================================================================================================================================================================================
$fontFamily: "Ubuntu";
$fontSize: rem(16); // где 16(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #3a3a3a; // Цвет шрифта по умолчанию
$orangeColoor: #e89f71;
$grayColor: #898989;
$darkGreyColor: #616161;

// НАСТРОЙКИ =================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1290;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1240;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
// $tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
// $mobile: em(767.98); // Телефоны L
// $mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры =================================================================================================================================================================================
@import "base/null";

body {
	// background: #F9F1E7;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	// .loaded & {
	// }
}
// Оболочка =================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер =================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="_container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	По брейк-поинтам [class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

//? Стили для отзывчивых картинок (IBG) ==================================================================================================================================
// Сниппет (HTML): ibg (div c картинкой и классами)
[class*="ibg"] {
	// position: relative;
	// img {
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	top: 0;
	// 	left: 0;
	// 	object-fit: cover;
	// }
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img {
		display: none;
	}
}
[class*="ibg_contain"] {
	img {
		object-fit: contain;
	}
}
//? =====================================================================================================================================================================

[class*="form-input"] {
	input:focus {
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
		&:-ms-input-placeholde {
			color: transparent;
		}
		& {
			outline: none;
		}
	}
}
// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "main";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

.pade {
	position: relative;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	// .pade__bottom
	&__bottom {
	}
}
.main-screen {
	flex: 1 0 100%;
	position: relative;
	// .main-screen__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.messengers {
	position: fixed;
	bottom: 0;
	right:0;
	// .messengers__body
	&__body {
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.15);
		font-size: 18px;
		margin: 0px 10px 150px 0px;
		cursor: pointer;
	}
	// .messengers__icons
	&__icons {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		position: relative;
		z-index: 500;
		color: #ffffff;
	}
}
